body {
    background-color: white;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: 'Poppins', sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 1px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  border-style: dotted;
}


body {
  text-align: center;
}

.underline {
  text-decoration-style: dotted;
}
.board {
  text-align: center;
  display: flex;
  justify-content: center;
  color:rgba(236, 181, 209, 0.8);
}

#reset-button {
  width: 90px;
  margin: 0 auto;
  padding: 5px;
  display: block;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(236, 181, 209, 0.8);
  border: 1px;
  border-radius: 5px;
}

